<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> show all</button>
  <button class="btn" onclick="filterSelection('data')"> data</button>
  <button class="btn" onclick="filterSelection('cities')"> cities</button>
  <button class="btn" onclick="filterSelection('energy')"> energy</button>
  <button class="btn" onclick="filterSelection('design')"> design</button>
  <button class="btn" onclick="filterSelection('making')"> making</button>
  <button class="btn" onclick="filterSelection('media')"> media & talks</button>
</div>