<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZCDG4C67E9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZCDG4C67E9');
</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href='{{ site.baseurl }}/assets/css/styles2.css'>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/portfolio">portfolio</a></li>
	        		<li><a href="/work-with-me">work with me</a></li>
	        		<li><a href="/fun">fun</a></li>

	    		</ul>
			</nav>
			<div class="container">

			{{ content }}
			
			</div><!-- /.container -->
			<script type="text/javascript" src='{{ site.baseurl }}/assets/javascript/filter.js'></script>

		</body>
	</html>