<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href='{{ site.baseurl }}/assets/css/styles.css'>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/portfolio">portfolio</a></li>
	        		<li><a href="/fun">fun</a></li>
	        		<li><a href="https://drive.google.com/file/d/1sahEjrJvEL0ZYC2l-hfgVQGLy8KGES1P/view?usp=sharing">resume</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}
			
			</div><!-- /.container -->
			<script type="text/javascript" src='{{ site.baseurl }}/assets/javascript/filter.js'></script>
		</body>
	</html>